Repository hilookas/odrive-can: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, pages

pytest:
  stage: test_stage
  script:
  - pylint -E src
  - pytest -v tests
  artifacts:
    when: on_success
    expire_in: 5 days

pages:
  image: sjev/mkdocs
  stage: docs_stage
  script:
  - make public
  artifacts:
    paths:
    - public
    expire_in: 1 week

set to idle on stop
  prepare_odrive/speed_test.py
Due: none

add accel test
  prepare_odrive/accel_test.py
  prepare_odrive/speed_test.py
Due: none

remove square
  prepare_odrive/speed_test.py
Due: none

add position test
  prepare_odrive/position_test.py
Due: none

update setting
  prepare_odrive/speed_test.py
Due: none

update pos test
  prepare_odrive/position_test.py
Due: none

run continuously
  prepare_odrive/speed_test.py
Due: none

switch to 3.12
  docker/Dockerfile
Due: none

update tests
  prepare_odrive/accel_test.py
  prepare_odrive/position_test.py
Due: none

add can preparation
  prepare_odrive/configure_can.py
  usbtin/REAMDE.md
  usbtin/start_usbtin.sh
Due: none

add calibration
  prepare_odrive/01_calibrate.py
Due: none

add udev rules for usbtin
  usbtin/install_udev_rules.sh
  usbtin/start_usbtin.sh
Due: none

add homing
  prepare_odrive/02_home.py
Due: none

rename file
  prepare_odrive/03_configure_can.py
Due: none

make specific venv
  Makefile
Due: none

update ignore
  .gitignore
Due: none

update docs
  docs/rpi_config.md
  install/README.md
  install/install_bcm2835.sh
  install/prepare_system.sh
  install/setup_can.sh
  mkdocs.yml
Due: pages

update docs
  docs/rpi_config.md
Due: pages

make executable
  install/setup_can.sh
Due: none

update dev env
  Makefile
  prepare_odrive/03_configure_can.py
  setup.py
  src/odrive_can/enums.py
  usbtin/start_usbtin.sh
Due: pytest

restructure
  src/odrive_can/__init__.py
Due: pytest

add timer
  src/odrive_can/timer.py
Due: pytest

update env, building docker locally
  docker/Dockerfile
  docker/requirements.txt
  init_host.sh
  src/odrive_can/mock.py
  tests_hw/README.md
  tests_hw/test_feedback.py
Due: pytest

add heartbeat
  docker/Dockerfile
  src/odrive_can/odrive.py
  tests_hw/test_feedback.py
Due: pytest

clean imports
  src/odrive_can/odrive.py
Due: pytest

add error check
  examples/can_messages.py
  src/odrive_can/odrive.py
  tests_hw/test_feedback.py
Due: pytest

refactor with exceptions
  src/odrive_can/odrive.py
  tests_hw/test_feedback.py
Due: pytest

add ids
  src/odrive_can/__init__.py
  tests/test_dbc.py
Due: pytest

increase feedback rate, update tests
  docker/requirements.txt
  prepare_odrive/03_configure_can.py
  src/odrive_can/odrive.py
  tests_hw/run.sh
  tests_hw/test_feedback.py
Due: pytest

refactor
  src/odrive_can/odrive.py
Due: pytest

refactor tests
  pytest.ini
  tests_hw/run.sh
  tests_hw/test_basics.py
Due: none

wip - works, but with weird timeouts
  examples/demo.py
  pytest.ini
  src/odrive_can/odrive.py
  src/odrive_can/timer.py
  tests_hw/test_basics.py
Due: pytest

refactor, remove tests
  examples/demo.py
  src/odrive_can/__init__.py
  src/odrive_can/odrive.py
  tests_hw/README.md
  tests_hw/test_basics.py
Due: pytest

add axis state
  examples/demo.py
  src/odrive_can/odrive.py
  tests/test_odrive.py
Due: pytest

add state change
  examples/demo.py
  src/odrive_can/odrive.py
Due: pytest

update demo
  examples/demo.py
  src/odrive_can/odrive.py
Due: pytest

add timestamp option
  src/odrive_can/tools.py
Due: pytest

cleanup
  src/odrive_can/cli.py
  src/odrive_can/examples/__init__.py
  src/odrive_can/examples/position_control.py
  src/odrive_can/inspector.py
  src/odrive_can/mock.py
  src/odrive_can/odrive.py
  tests/test_odrive.py
Due: pytest

fixed dirty exit
  examples/demo.py
  src/odrive_can/cli.py
  src/odrive_can/examples/position_control.py
  src/odrive_can/odrive.py
Due: pytest

Path conditions:
  pytest: any of: src/**/*
  pages: any of: *.md, docs/**/*, mkdocs.yml
