Repository hilookas/odrive-can: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, pages

pytest:
  image: $CI_REGISTRY_IMAGE
  stage: test_stage
  script:
  - pylint -E src
  - pytest -v tests
  artifacts:
    when: on_success
    expire_in: 5 days

pages:
  image: sjev/mkdocs
  stage: package_stage
  script:
  - make public
  artifacts:
    paths:
    - public
    expire_in: 1 week

add interface to docs
  docs/can_interface.md
  examples/can_messages.py
  mkdocs.yml
  scripts/gen_dbc_docs.py
  scripts/odrive-cansimple-0.5.6.md
Due: pages

fix link
  docs/can_interface.md
Due: pages

update examples
  docs/examples.md
  examples/decode_can.py
Due: pages

update docs
  docs/can_interface.md
Due: pages

add mock
  docker/requirements.txt
  examples/decode.sh
  setup.py
  src/odrive_can/__init__.py
  src/odrive_can/mock.py
Due: pytest

Bump version: 0.0.1 → 0.1.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

update mock
  .pylintrc
  examples/async_can.py
  examples/send_drive_messages.py
  src/odrive_can/cli.py
  src/odrive_can/mock.py
Due: pytest

update readme
  README.md
Due: pages

Bump version: 0.1.0 → 0.2.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

simplify tables
  scripts/gen_dbc_docs.py
  scripts/odrive-cansimple-0.5.6.md
Due: none

update doc
  docs/can_interface.md
Due: pages

Revert "simplify tables"
  scripts/gen_dbc_docs.py
  scripts/odrive-cansimple-0.5.6.md
Due: none

update env & mock
  .devcontainer/devcontainer.json
  examples/send_drive_messages.py
  init_host.sh
  src/odrive_can/__init__.py
  src/odrive_can/cli.py
  src/odrive_can/mock.py
Due: pytest

add inspector
  .pylintrc
  src/odrive_can/cli.py
  src/odrive_can/inspector.py
  src/odrive_can/mock.py
Due: pytest

upload to pypi
  .gitlab-ci.yml
Due: none

Bump version: 0.2.0 → 0.3.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

upate ci
  .gitlab-ci.yml
Due: none

Bump version: 0.3.0 → 0.3.1
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

update ci
  .gitlab-ci.yml
Due: none

Bump version: 0.3.1 → 0.3.2
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

Bump version: 0.3.2 → 0.3.3
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Bump version: 0.3.3 → 0.3.4
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

upload on tags
  .gitlab-ci.yml
Due: none

Bump version: 0.3.4 → 0.3.5
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

update docs, fix dbc
  README.md
  setup.py
  tests/test_dbc.py
Due: pages

Bump version: 0.3.5 → 0.3.6
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

add odrive as dep
  setup.py
Due: none

add backup option
  src/odrive_can/cli.py
Due: pytest

add udev rule
  install/install_rules.sh
Due: none

print message names
  src/odrive_can/inspector.py
Due: pytest

add message counter
  src/odrive_can/inspector.py
Due: pytest

add config
  .devcontainer/devcontainer.json
  config/odrive_config_test_motor.json
Due: none

add venv, speed test
  Makefile
  README.md
  prepare_odrive/README.md
  prepare_odrive/speed_test.py
Due: pages

refactored speed test
  prepare_odrive/speed_test.py
Due: none

add tools
  .pylintrc
  prepare_odrive/speed_test.py
  src/odrive_can/py.typed
  src/odrive_can/tools.py
Due: pytest

update speed test
  prepare_odrive/speed_test.py
  prepare_odrive/utils.py
Due: none

Path conditions:
  pytest: any of: src/**/*
  pages: any of: *.md, docs/**/*, mkdocs.yml
