Repository hilookas/odrive-can: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, pages

.gitlab-ci.yml:

image: $CI_REGISTRY_IMAGE

before_script:
  - python --version
  - cat /build_date.txt
  - pip install .
  - echo $CI_COMMIT_BRANCH
  - echo $CI_COMMIT_TAG

stages:
  - test_stage
  - docs_stage
  - upload_stage
  - docker_images

pytest:
  stage: test_stage
  script:
    - pylint -E src
    # - mypy src
    - pytest -v tests
  artifacts:
    when: on_success
    expire_in: 5 days
  rules:
    - changes:
        - src/**/*

pages:
  image: sjev/mkdocs
  stage: docs_stage
  script:
    - make public
  artifacts:
    paths:
      - public
    expire_in: 1 week
  rules:
    - changes:
        - "*.md"
        - docs/**/*
        - "mkdocs.yml"

upload:
  stage: upload_stage
  script:
    - pip install build twine
    - python -m build
    - TWINE_PASSWORD=${PYPI_TOKEN} TWINE_USERNAME=__token__ python -m twine upload dist/*
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_COMMIT_TAG'

# build docker containers
build_images:
  stage: docker_images
  image: docker:latest

  services:
    - docker:dind

  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    # ---- main image
    - docker build -t $CI_REGISTRY_IMAGE  ./docker
    - docker push $CI_REGISTRY_IMAGE
  when: manual

add usage
  examples/usage.py
Due: none

remove import
  src/odrive_can/mock.py
Due: pytest

update readme
  README.md
  examples/usage.py
Due: pages

update setup
  setup.py
Due: none

Bump version: 0.5.0 → 0.6.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

update makefile
  Makefile
Due: none

remove api docs
  .gitignore
  Makefile
  docs/api_docs.md
  docs/examples.md
  mkdocs.yml
  serve_docs.sh
Due: pages

update changelog
  CHANGELOG.md
Due: pages

Bump version: 0.6.0 → 0.6.1
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

update homing
  prepare_odrive/02_home.py
Due: none

add exception
  prepare_odrive/01_calibrate.py
Due: none

Multiple axis feedback
  CHANGELOG.md
  README.md
  examples/can_messages.py
  examples/demo.py
  examples/usage.py
  src/odrive_can/__init__.py
  src/odrive_can/cli.py
  src/odrive_can/examples/position_control.py
  src/odrive_can/examples/velocity_control.py
  src/odrive_can/interface.py
  src/odrive_can/mock.py
  src/odrive_can/odrive.py
  tests/lauch_demo.sh
Due: pytest, pages

Bump version: 0.6.1 → 0.7.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

add set_axis_state_no_wait
  CHANGELOG.md
  src/odrive_can/interface.py
Due: pytest, pages

Bump version: 0.7.0 → 0.8.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

don't build images. now done locally
  .gitlab-ci.yml
Due: none

change to manual docker image build.
  .gitlab-ci.yml
Due: none

add roc parameter to mock
  src/odrive_can/mock.py
Due: pytest

Bump version: 0.8.0 → 0.9.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

add vcan tests
  tests/test_vcan.py
Due: none

ignore irrelevant coverage
  .coveragerc
Due: none

fix deprecation warning
  examples/async_can.py
  examples/decode_can.py
  examples/send_drive_messages.py
  examples/sim_can.py
  src/odrive_can/inspector.py
  src/odrive_can/mock.py
Due: pytest

Bump version: 0.9.0 → 0.9.1
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

Add pytest-asyncio to requirements.txt
  .gitlab-ci.yml
  docker/requirements.txt
Due: none

improve shutdown
  CHANGELOG.md
  src/odrive_can/odrive.py
Due: pytest, pages

Bump version: 0.9.1 → 0.9.2
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

update python req
  setup.py
Due: none

add dev shell
  dev_shell.sh
Due: none

add wait_for_heartbeat
  src/odrive_can/odrive.py
Due: pytest

update velocity example
  CHANGELOG.md
  src/odrive_can/examples/velocity_control.py
Due: pytest, pages

refactor velocity example
  src/odrive_can/__init__.py
  src/odrive_can/cli.py
  src/odrive_can/examples/velocity_control.py
  src/odrive_can/utils.py
Due: pytest

add timeout
  src/odrive_can/interface.py
  src/odrive_can/odrive.py
  src/odrive_can/utils.py
Due: pytest

add watchdog example
  src/odrive_can/cli.py
  src/odrive_can/examples/watchdog.py
Due: pytest

adjust values
  prepare_odrive/position_test.py
Due: none

switch to ruff
  .devcontainer/devcontainer.json
  .gitlab-ci.yml
  .vscode/settings.json
  Makefile
  docker/requirements.txt
  init_host.sh
  src/odrive_can/__init__.py
Due: pytest

Bump version: 0.9.2 → 0.10.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

lint
  .devcontainer/devcontainer.json
Due: none

move usbtin
  usbtin/README.md
  usbtin/REAMDE.md
  usbtin/install_udev_rules.sh
  usbtin/start_usbtin.sh
Due: none
