Repository hilookas/odrive-can: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, pages

.gitlab-ci.yml:

image: $CI_REGISTRY_IMAGE

before_script:
  - python --version
  - cat /build_date.txt
  - pip install .
  - echo $CI_COMMIT_BRANCH
  - echo $CI_COMMIT_TAG

stages:
  - test_stage
  - docs_stage
  - upload_stage
  - docker_images

pytest:
  stage: test_stage
  script:
    - pylint -E src
    # - mypy src
    - pytest -v tests
  artifacts:
    when: on_success
    expire_in: 5 days
  rules:
    - changes:
        - src/**/*

pages:
  image: sjev/mkdocs
  stage: docs_stage
  script:
    - make public
  artifacts:
    paths:
      - public
    expire_in: 1 week
  rules:
    - changes:
        - "*.md"
        - docs/**/*
        - "mkdocs.yml"

upload:
  stage: upload_stage
  script:
    - pip install build twine
    - python -m build
    - TWINE_PASSWORD=${PYPI_TOKEN} TWINE_USERNAME=__token__ python -m twine upload dist/*
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_COMMIT_TAG'

# build docker containers
build_images:
  stage: docker_images
  image: docker:latest

  services:
    - docker:dind

  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    # ---- main image
    - docker build -t $CI_REGISTRY_IMAGE  ./docker
    - docker push $CI_REGISTRY_IMAGE
  when: manual

add linear model
  src/odrive_can/linear_model.py
Due: pytest

add setpoint generators
  examples/setpoint_generator.py
  src/odrive_can/setpoints.py
Due: pytest

update position demo
  src/odrive_can/examples/position_control.py
Due: pytest

use trajectory control
  prepare_odrive/position_test.py
Due: none

fix linting
  prepare_odrive/position_test.py
  src/odrive_can/inspector.py
Due: pytest

Bump version: 0.3.6 → 0.4.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

add interface generation
  scripts/gen_dbc_interface.py
  scripts/interface.py
  src/odrive_can/examples/position_control.py
  src/odrive_can/interface.py
  src/odrive_can/odrive.py
  tests/talk_to_hardware.py
Due: pytest

update interface generator
  scripts/gen_dbc_interface.py
  scripts/interface.py
Due: none

update dbc interface
  scripts/gen_dbc_interface.py
  scripts/interface.py
  src/odrive_can/interface.py
  src/odrive_can/odrive.py
Due: pytest

add input option to position demo
  src/odrive_can/cli.py
  src/odrive_can/examples/position_control.py
Due: pytest

increase gain
  src/odrive_can/examples/position_control.py
Due: pytest

fix arg
  src/odrive_can/examples/position_control.py
Due: pytest

add velocity control demo
  src/odrive_can/cli.py
  src/odrive_can/examples/velocity_control.py
Due: pytest

use sawtooth for velocity demo
  src/odrive_can/examples/velocity_control.py
  src/odrive_can/setpoints.py
Due: pytest

Bump version: 0.4.0 → 0.5.0
  .bumpversion.cfg
  src/odrive_can/__init__.py
Due: pytest

update changelog
  CHANGELOG.md
Due: pages

cleanup
  src/odrive_can/examples/velocity_control.py
Due: pytest

update readme
  README.md
Due: pages

update examples
  docs/examples.md
Due: pages

add timeout ticker, remove exception
  src/odrive_can/inspector.py
Due: pytest

add parameters
  tests/talk_to_hardware.py
Due: none

refactor to async, add axis
  src/odrive_can/mock.py
Due: pytest

add state change
  tests/talk_to_hardware.py
Due: none

update mock
  src/odrive_can/mock.py
Due: pytest

make state change async
  src/odrive_can/interface.py
  src/odrive_can/odrive.py
Due: pytest

switch to vcan
  tests/talk_to_hardware.py
Due: none

improve start wait, shutdown and message timeout
  src/odrive_can/odrive.py
Due: pytest

remove unnecessary variable
  src/odrive_can/odrive.py
Due: pytest

improve logging
  tests/talk_to_hardware.py
Due: none

update comments
  src/odrive_can/odrive.py
Due: pytest

change event to queue
  src/odrive_can/odrive.py
Due: pytest

update to coroutines
  src/odrive_can/examples/position_control.py
  src/odrive_can/examples/velocity_control.py
Due: pytest

Merge branch 'refactor-msg'
  Makefile
  docker/requirements.txt
  src/odrive_can/odrive.py
  tests/test_odrive.py
Due: pytest

use feedback request instead of callback
  src/odrive_can/examples/position_control.py
Due: pytest

add iq
  src/odrive_can/examples/position_control.py
Due: pytest

add realistic position and velocity to mock
  src/odrive_can/examples/position_control.py
  src/odrive_can/linear_model.py
  src/odrive_can/mock.py
  src/odrive_can/odrive.py
Due: pytest

auto build images
  .gitlab-ci.yml
  docker/README.md
Due: none

update demo
  examples/demo.py
Due: none

simplify
  examples/demo.py
Due: none

move functions to utils
  src/odrive_can/__init__.py
  src/odrive_can/odrive.py
  src/odrive_can/utils.py
Due: pytest
